Cher/Chère [$TO_NAME$],<br/><br/>
 
Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous ou le recopier dans son intégralité dans la barre d'adresse de votre navigateur web.<br/>
<a href="[$PASSWORD_RESET_URL$]">[$PASSWORD_RESET_URL$]</a><br/><br/>
 
Si vous ne voulez pas réinitialiser votre mot de passe, veuillez ignorer ce message. Votre mot de passe restera inchangé. En cas de question ou problème, contactez-nous à info@mediquality.net.<br/><br/>
 
Cordialement,<br/>
L'équipe MediQuality<br/><br/>
 
- - - - - - - - - - - - - - - -<br/><br/>

Geachte [$TO_NAME$]<br/><br/>
 
Om uw paswoord opnieuw in te stellen, gelieve op onderstaande link te klikken of de link in zijn geheel in de adresbalk van uw browser te kleven.<br/>
<a href="[$PASSWORD_RESET_URL$]">[$PASSWORD_RESET_URL$]</a><br/><br/>
 
Als u uw paswoord niet wenst te wijzigen, gelieve deze boodschap dan te negeren. Uw paswoord blijft dan ongewijzigd. Voor vragen of problemen, contacteer ons op info@mediquality.net.<br/><br/>
 
Met vriendelijke groeten,<br/>
Het MediQuality team