Cher/Chère [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] a publié la réaction suivante:<br /><br />

----------<br />
[$COMMENTS_BODY$]<br />
----------<br /><br />

<a href="[$CONTENT_URL$]">Lire l'article et les réactions</a><br /><br />

Cordialement,<br/>
L'équipe MediQuality<br/>
PS: Pour ne plus recevoir de notifications relatifs à cette discussion, cliquez sur "Ne plus suivre les réactions" dans le bas de l’article.

<br/><br/><br/>

Geachte [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] heeft de volgende reactie gepost:<br /><br />

----------<br />
[$COMMENTS_BODY$]<br />
----------<br /><br />

<a href="[$CONTENT_URL$]">Artikel en reacties lezen</a><br /><br />

Met vriendelijke groeten,<br/>
Het MediQuality team<br/>
PS: Om geen emails meer te ontvangen over deze discussie, klik op "Reacties niet meer opvolgen" onderaan het artikel.