Cher membre de MediQuality,<br /><br />

[$MESSAGE_USER_NAME$] a publié le message suivant:<br /><br />

----------<br />
[$MESSAGE_BODY$]<br />
----------<br /><br />

<a href="[$MESSAGE_URL$]">Lire le message et les réactions</a><br /><br />

Cordialement,<br/>
L'équipe MediQuality<br/>
PS: Pour ne plus recevoir de notifications relatifs à cette discussion, cliquez sur "Ne plus suivre les réactions" dans l'espace de discussion.

<br/><br/><br/>

Geachte MediQuality gebruiker,<br /><br />

[$MESSAGE_USER_NAME$] heeft het volgende bericht gepost:<br /><br />

----------<br />
[$MESSAGE_BODY$]<br />
----------<br /><br />

<a href="[$MESSAGE_URL$]">Bericht en reacties lezen</a><br /><br />

Met vriendelijke groeten,<br/>
Het MediQuality team<br/>
PS: Om geen emails meer te ontvangen over deze discussie, klik op "Reacties niet meer opvolgen" bovenaan het discussieforum.